*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

.main{
    position: relative;
    overflow: hidden;
}
 nav{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 999;

}

 nav ul {
    height: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 6%;
    margin-right: 20px;
}
 nav ul li{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
 nav ul li:hover{
    color: gray;
    cursor: pointer;
}
    
.page{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left,transparent 1%,black 140%),url(https://d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/freshgoods/aded963f-freshgoods-heroshot_100000000000000000001o.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 2vw 12vw;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex-direction: column;
    gap: 10%;

}
.page h3{
    font-size: 2rem;
}
.page h1{
    font-size: 5rem;
    font-weight: 400;
}
.page h4{
    letter-spacing: 1.5px;
    font-weight: 400;
    word-spacing: .5px;
}

 button{
    background: #ffb400;
    border: none;
    padding: 1vw 4vw;
    border-radius: 4px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;

}
 button:hover{
    background: #c28a07;
    cursor: pointer;

}
.page1{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 2vw 12vw;
}
.page1 .page1-upper{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.page1 .page1-upper h1{
  font-size: 3rem;
  font-weight: 500;
  text-align: center;


}
.page1 .page1-upper h3{

    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

.page1 .page1-down{
    height: 50vh;
    width: 100%;
    display:  flex;
    justify-content: space-between;
    align-items: center;
}


.page2{
    padding: 2vw 12vw;
    background-image: url("https://d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/freshgoods/ce77cb1e-bg-3_1000000000000000000028.png");
    height: 100vh;
    width: 100%;
    background-color: red;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 10%;
}
.page2  h2{
    font-size: 2.6rem;
    text-align: center;
    font-weight: 500;

}

.page3 {
    height: 70vh;
    width: 100%;
    padding: 2vw 12vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dadada;
}
.page3 .cards img{
    width: 360px;
}

.page4{
    padding: 2vw 12vw;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
.page4 h1{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: .7;
}

.page4 p{
    margin-top: 5%;
    letter-spacing: 1px;    
}

.page5{
    background-image: url("https://d9hhrg4mnvzow.cloudfront.net/templates.unbounce.com/freshgoods/bf21cd40-freshgoods-cta-bg_10000000rs0f100001q01o.jpg");
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}
.page5 h1{
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
}
.page5 p{
    text-align: center;
}
footer{
    position: relative;
    padding: 0vw 12vw;
    background-color: rgba(0, 0, 0, 0.8);
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 10px;
    align-items: center;
}